<style>
  body{background-image: url(/modules/core/client/img/brand/background.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;}
</style>

<div  style="background-position: center;
  height: 750px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;" >

  <div class="jumbotron " style = "margin: auto;
  width: 750px;
  height: 700px;
  background-color: ##D3D3D3;
  padding-top: 1px;
  text-align: left;
  ">
    <h2 style="font-size:xx-large; text-align: center;"><b>Platos Tipicos/ Native Dishes</b></h2>
    <table style="width: 100%;">

      <tr>
        <td><b>Almuerzo ejecutivo-</b>Carne asada, arroz,frijoles, huevo y maduro</td><td><b>$9.49</b></td>
      </tr>

      <tr style="color: blue;"><td>-Grilled beef, rice, beans, eggs and fried sweet plantains</td></tr>
      <tr><td>&nbsp;</td></tr>

      <tr>
        <td><b>Bandeja Paisa-</b>Carne asada, chorizo, chicharron, huevo, arroz, frijol, maduro y arepita</td><td><b>$13.49</b></td>
      </tr>
      <tr style="color: blue;"><td>-Grilled steak, pork rinds, Colombian sausage, egg, rice, beans, fried sweet plantain, and corn cake</td></tr>
      <tr><td>&nbsp;</td></tr>

      <tr>
        <td><b>Bandeja Campesina-</b>Carne molida, morcilla, chicharron, huevo, arroz, frijol, maduro, arepita</td><td>$14.49</td>
      </tr>
      <tr><td>-Sauteed ground beef, pork rinds, blood sausage, egg, rice, beans, fried sweet plantains, corn cake</td></tr>

      <tr>
        <td><b>Mini-Paisa-</b>Carne Asada, chicharron, huevo, arroz, frijol, maduro, arepita</td><td>$9.99</td>
      </tr>
      <tr><td>-Grilled steak, pork rinds, eggs, rice beans, fried sweet plantains, corn cake</td></tr>

      <tr>
        <td><b>Cazuela de frijoles</b></td><td>$9.99</td>
      </tr>
      <tr><td>-Bean casserole: Sauteed ground beef, sweet plantain, pork grinds and corn</td></tr>

      <tr>
        <td><b>Pargo rojo frito-</b>Percio de acuerdo al Mercado</td><td>P/M</td>
      </tr>
      <tr><td>-Red Snapper fried (whole): Priced based on market</td></tr>

      <tr>
        <td><b>Mojarra frita-</b>Precio de acuerdo al Mercado</td><td>P/M</td>
      </tr>
      <tr><td>-Fried Mojarra (whole): Priced based on market</td></tr>

      <tr>
        <td><b>Bistec a caballo-</b>Steak in Colombian red sauce and an egg</td><td>$11.99</td>
      </tr>

      <tr>
        <td><b>Bistec a la criolla-</b>Steak in Colombian red sauce</td><td>$11.49</td>
      </tr>

      <tr>
        <td><b>Sobrebarriga a la criolla-</b>Flank steak in Colombian red sauce</td><td>$12.99</td>
      </tr>

      <tr>
        <td><b>Sobrebarriga a la plancha encebollada-</b>Grilled flank steak with sautéed onions</td><td>$11.99</td>
      </tr>

      <tr>
        <td><b>Arroz con pollo-</b>Arroz con pollo</td><td>$9.99</td>
      </tr>

      <tr>
        <td><b>Arroz con camarones-</b>servido con ensalada y tostone</td><td>$16.99</td>
      </tr>
      <tr><td>-Shrimp and rice served with salad and fried green plantain</td></tr>

      <tr>
        <td><b>Arroz con mariscos-</b>servido con ensalada y tostones</td><td>$18.49</td>
      </tr>
      <tr><td>-Rice and seafood mixed with rice served with salad and fried green plantain</td></tr>

      <tr>
        <td><b>Cazuela de mariscos-</b>Cazuela de mariscos</td><td>$17.49</td>
      </tr>
      <tr><td>-Seafood casserole Colombian style, served with rice and fried green plantain</td></tr>

      <tr>
        <td><b>Tamal Colombiano con arroz y arepita</b></td><td>$8.99</td>
      </tr>
      <tr><td>-Colombian Tamal with rice and small corn cake</td></tr>

    </table>
  </div>
</div>

<div  style="background-position: center;
  height: 450px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;" >

  <div class="jumbotron " style = "
  width: 750px;
  height: 415px;
  background-color: ##D3D3D3;
  padding-top: 1px;
  text-align: left;
  ">
    <h2 style="font-size:xx-large; text-align: center;"><b>Menu A La Carta</b></h2>
    <table style="width: 100%;">

      <tr>
        <td><b>Carne asada-</b>Grilled Steak</td><td>$9.99</td>
      </tr>

      <tr>
        <td><b>Bistec encebollado-</b>Grilled steak with sautéed onions</td><td>$10.99</td>
      </tr>

      <tr>
        <td><b>Pechuga a la plancha-</b>Grilled chicken breast</td><td>$10.99</td>
      </tr>

      <tr>
        <td><b>Pechuga empanizada-</b>Breaded chicken breast</td><td>$11.99</td>
      </tr>

      <tr>
        <td><b>Pechuga en champiñones-</b>Chicken breast in mushroom sauce</td><td>$12.99</td>
      </tr>

      <tr>
        <td><b>Chuleta empanizada (Lomo de cerdo)-</b>Breaded porkloin</td><td>$10.99</td>
      </tr>

      <tr>
        <td><b>Lomo de cerdo a la plancha-</b>Grilled porkloin</td><td>$9.99</td>
      </tr>

      <tr>
        <td><b>Chuleta con hueso encebollada-</b>Pork chop in sautéed onions </td><td>$9.99</td>
      </tr>

      <tr>
        <td><b>Churrasco-</b>Skirt steak</td><td>$17.99</td>
      </tr>

      <tr>
        <td><b>Filete de pescado a la plancha-</b>Grilled fish fillet</td><td>$12.49</td>
      </tr>

      <tr>
        <td><b>Filete de pescado al ajillo-</b>Fish fillet in garlic sauce </td><td>$13.49</td>
      </tr>

      <tr>
        <td><b>Filete de pescado empanizado-</b>Breaded fish fillet</td><td>$12.99</td>
      </tr>

      <tr><td> <br> </td></tr>

      <tr><td>
        <b>Estos platos se sirven con dos acompañantes- Items served with two sides</b>
      </td></tr>

      <tr><td>Arroz, frijol, maduro, ensalada, vagetales mixtos, papa frita o tostones</td></tr>
      <tr><td>Rice, beans, sweet plantains, salad, mixed vegetables, French fries or green plantains</td></tr>

    </table>
  </div>
</div>

<div  style="background-position: center;
  height: 650px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;" >

  <div class="jumbotron " style = "
  width: 750px;
  height: 600px;
  background-color: ##D3D3D3;
  padding-top: 1px;
  text-align: left;
  ">
    <h2 style="font-size:xx-large; text-align: center;"><b>Especialidades Del Chef/Chef Specialties</b></h2>
    <table style="width: 100%;">

      <tr>
        <td><b>Arroz Paisa (arroz mixto con diferentes carnes)-</b>Rice mixed with different meats</td><td>$13.99</td>
      </tr>

      <tr>
        <td><b>Lomo saltado-</b>Stir-fried beef and French fried</td><td>$13.49</td>
      </tr>

      <tr>
        <td><b>Saltado de pollo-</b>Stir-fried chicken and french fries</td><td>$12.49</td>
      </tr>

      <tr>
        <td><b>Saltado mixto-</b>Stir-fried beed and chicken with french fries</td><td>$14.49</td>
      </tr>

      <tr>
        <td><b>Chaufa de carne-</b>Chinese Peruvian style beef fried rice</td><td>$11.99</td>
      </tr>

      <tr>
        <td><b>Chaufa de pollo-</b>Chinese Peruvian style chicken fried rice</td><td>$10.99</td>
      </tr>

      <tr>
        <td><b>Chaufa mixto-</b>Chinese Peruvian style beef and chicken fried rice</td><td>$12.99</td>
      </tr>

      <tr>
        <td><b>Chaufa de camarones-</b>Chinese Peruvian style shrimp fried rice</td><td>$16.49</td>
      </tr>

      <tr>
        <td><b>Ceviche Peruano de pescado-</b>Peruvian ceviche, fish marinated in lime juice & rocoto(hot pepper)</td><td>$12.49</td>
      </tr>

      <tr>
        <td><b>Ceviche Peruano de pescado y camarones-</b>Peruvian ceviche fish and shrimp marinated in lime juice and rocoto(hot pepper)</td><td>$14.49</td>
      </tr>

      <tr>
        <td><b>Tallarin de carne-</b>Stir-fried beef and noodles</td><td>$12.99</td>
      </tr>

      <tr>
        <td><b>Tallarin de pollo-</b>Stir-fried chicken and noodles</td><td>$11.99</td>
      </tr>

      <tr>
        <td><b>Tallarin mixto-</b>Stir-fried beef, chicken, and noodles</td><td>$13.99</td>
      </tr>

      <tr>
        <td><b>Tallarin de camarones-</b>Stir-fried shrimp and noodles</td><td>$16.49</td>
      </tr>

      <tr>
        <td><b>Jibaritos-</b>Green fried plantain sandwiche with beef</td><td>$8.99</td>
      </tr>

      <tr>
        <td><b>Mofongo y masitas o bistec con ensalada-</b>Mofongo with fried pork pieces or steak and salad</td><td>$10.99</td>
      </tr>

      <tr>
        <td><b>Mofongo con pechuga y ensalda-</b>Mofongo with chicken breast and salad</td><td>$11.99</td>
      </tr>

      <tr>
        <td><b>Mofongo con pechuga al ajillo y ensalada-</b>Mofongo with chicken breast in garlic sauce and salad</td><td>$12.99</td>
      </tr>

      <tr>
        <td><b>Mofongo con camaron al ajillo y ensalada-</b>Mofongo with shrimp in garlic sauce and salad</td><td>$13.99 </td>
      </tr>

    </table>
  </div>
</div>
