

</br>




  <div class="jumbotron text-center" style="background-color:white">
    <div class="row" >
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12"  style="justify-content: center;">
        <img alt="MEAN.JS" class="img-responsive text-center" src="/modules/core/client/img/brand/Logo2.jpg" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        El rico y auténtico sabor de mi tierra.
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-danger btn-lg" href="/authentication/signup" target="_blank">Learn more about us</a>
      </p>
    </div>
  </div>
