<style>
  body{background-image: url(/modules/core/client/img/brand/Mani.jpg); background-repeat: no-repeat; background-size: 2000px 800px; background-attachment: fixed;}
</style>

<div  style="background-position: center;
  height: 500px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;" >

  <div class="jumbotron " style = "margin: auto;
  width: 750px;
  height: 450px;
  background-color: ##D3D3D3;
  padding-top: 1px;
  text-align: left;
  ">
    <table style="width: 100%;">
        <tr>
          <br/>
          <th style="font-size:xx-large; text-align: center;">Desayunos/Breakfast</th>
        </tr>
        <tr>
          <td><b>Arepa con queso-</b>Corn cake w/ colombian cheese</td><td>$2.50</td>
        </tr>
        <tr>
          <td><b>Arepa de choclo con queso-</b>Sweet corn cake w/ colombian cheese</td><td>$3.00</td>
        </tr>
        <tr>
          <td><b>Arepa con hogao-</b>Corn cake w/ sauteed scallions and tomato</td><td>$3.50</td>
        </tr>
        <tr>
          <td><b>Carne asada y arepa con hogao-</b>Steak w/ corn cake and sauteed scallions and tomato</td><td>$7.99</td>
        </tr>
        <tr>
          <td><b>Calentado con carne y arepa con queso-</b>Rice mixed w/ refried beans, steak, corn cake w/ cheese</td><td>$8.99</td>
        </tr>
        <tr>
          <td><b>Calentado Mixto(carne,huevos) con arepita-</b>Rice mixed w/ refried beans, steak, eggs, small corn cake</td><td>$9.99</td>
        </tr>
        <tr>
          <td><b>Calentado con huevos y arepa con queso-</b>Rice mixed w/ refried beans, eggs, corn cake w/ cheese </td><td>$7.99</td>
        </tr>
        <tr>
          <td><b>Carne y arepa con queso-</b>Steak & corn cake w/ cheese</td><td>$7.99</td>
        </tr>
        <tr>
          <td><b>Carne con huevos y arepa con queso-</b>Steak, eggs, corn cake w/ cheese</td><td>$8.99</td>
        </tr>
        <tr>
          <td><b>Huevos al gusto y arepa con queso-</b>Eggs(any style) & corn cake w/ cheese</td><td>$6.49</td>
        </tr>
        <tr>
          <td><b>Huevos pericos con arroz-</b>Scrambled eggs w/ sauteed scallions and tomato</td><td>$6.49</td>
        </tr>
        <tr>
          <td><b>Huevos revueltos con jamon y tostada-</b>Scrambled eggs, ham and cuban tostada</td><td>$4.99</td>
        </tr>
        <tr>
          <td><b>Tostada Cubana-</b>Cuban tostada</td><td>$1.50</td>
        </tr>
        <tr>
          <td><b>Tostada con queso-</b>Tostada w/ cheese</td><td>$2.00</td>
        </tr>
        <tr>
          <td><b>Changua con arepita-</b>Colombian milk with egg soup and small corn cake</td><td>$5.99</td>
        </tr>
    </table>
  </div>
</div>




<div  style="background-position: center;
  height: 350px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;" >

  <div class="jumbotron " style = "
  width: 750px;
  height: 325px;
  background-color: ##D3D3D3;
  padding-top: 1px;
  text-align: left;
  ">
    <table style="width: 100%;">
        <tr>
          <br/>
          <th style="font-size:xx-large; text-align: center;">Pasabocas/Appetizers</th>
        </tr>
        <tr>
          <td><b>Buñuelos</b> </td><td>$1.00</td>
        </tr>
        <tr>
          <td><b>Empanadas de carne o pollo-</b>Corn meat or chicken pie</td><td>$1.00</td>
        </tr>
        <tr>
          <td><b>Chorizo con arepita-</b>Colombian sausage with corn cake</td><td>$3.00</td>
        </tr>
        <tr>
          <td><b>Chicharron con arepita-</b>Fried pork rinds with corn cake</td><td>$3.00</td>
        </tr>
        <tr>
          <td><b>Morcilla con arepita-</b>Colombian blood sausage with corn cake</td><td>$3.00</td>
        </tr>
        <tr>
          <td><b>Tostones con hogao-</b>Fried green plantain with sauteed scallinos and tomatoes</td><td>$4.99</td>
        </tr>
        <tr>
          <td><b>Salchipapas-</b>Mixed french fries and hotdog topped with mozzarella and pink sauce</td><td>$7.99</td>
        </tr>
        <tr>
          <td><b>Salchipollo-</b>Mixed french fries w/ hotdog and chicken with mozzarella and pink sauce</td><td>$8.99</td>
        </tr>
        <tr>
          <td><b>Envuelto de maiz-</b>Sweet corn wrap</td><td>$2.00</td>
        </tr>
        <tr>
          <td><b>Picada pequeña-</b>Para 2 personas</td><td>$18.00</td>
        </tr>
        <tr>
          <td><b>Picada mediana-</b>Para 4 o 5 personas</td><td>$35.00</td>
        </tr>
        <tr>
          <td><b>Picada grande-</b>Para 7 o 8 personas</td><td>$50.00</td>
        </tr>

    </table>
  </div>
</div>


<div  style="background-position: center;
  height: 215px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;" >

  <div class="jumbotron " style = "
  width: 750px;
  height: 190px;
  background-color: ##D3D3D3;
  padding-top: 1px;
  text-align: left;
  ">
    <table style="width: 100%;">
        <tr>
          <br/>
          <th style="font-size:xx-large; text-align: center;">Sanduches/Sandwiches</th>
        </tr>
        <tr>
          <td><b>Sandwich Cubano-</b>Cuban sandwich</td><td>$5.99</td>
        </tr>
        <tr>
          <td><b>Sandwich de carne-</b>Steak sandwich</td><td>$7.49</td>
        </tr>
        <tr>
          <td><b>Sandwich de pollo-</b>Chicken sandwich</td><td>$6.99</td>
        </tr>
        <tr>
          <td><b>Sandwich de huevos con jamon y queso-</b>Egg sandwich w/ ham and cheese</td><td>$5.49</td>
        </tr>
        <tr>
          <td><b>Sandwich de jamon y queso-</b>Ham and cheese</td><td>$4.99</td>
        </tr>

    </table>
  </div>
</div>

<div  style="background-position: center;
  height: 200px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;" >

  <div class="jumbotron " style = "
  width: 750px;
  height: 175px;
  background-color: ##D3D3D3;
  padding-top: 1px;
  text-align: left;
  ">
    <table style="width: 100%;">
        <tr>
          <br/>
          <th style="font-size:xx-large; text-align: center;">Postres/Desserts</th>
        </tr>
        <tr>
          <td><b>Tres leches</b> </td><td>$3.50</td>
        </tr>
        <tr>
          <td><b>Mazamorra con bocadillo</b> </td><td>$4.50</td>
        </tr>
        <tr>
          <td><b>Flan</b> </td><td>$3.00</td>
        </tr><tr>
          <td><b>Postre de natas</b> </td><td>$3.00</td>
        </tr>

    </table>
  </div>
</div>

<div  style="background-position: center;
  height: 200px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;" >

  <div class="jumbotron " style = "
  width: 750px;
  height: 175px;
  background-color: ##D3D3D3;
  padding-top: 1px;
  text-align: left;
  ">
    <table style="width: 100%;">
        <tr>
          <br/>
          <th style="font-size:xx-large; text-align: center;">Menu Infantil/Kids Menu</th>
        </tr>
        <tr>
          <td><b>Tres leches</b> </td><td>$3.50</td>
        </tr>
        <tr>
          <td><b>Mazamorra con bocadillo</b> </td><td>$4.50</td>
        </tr>
        <tr>
          <td><b>Flan</b> </td><td>$3.00</td>
        </tr>
        <tr>
          <td><b>Postre de natas</b> </td><td>$3.00</td>
        </tr>

    </table>
  </div>
</div>

<div  style="background-position: center;
  height: 300px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;" >

  <div class="jumbotron " style = "
  width: 750px;
  height: 275px;
  background-color: ##D3D3D3;
  padding-top: 1px;
  text-align: left;
  ">
    <h2 style="font-size:xx-large; text-align: center;"><b>Porciones/Side Orders</b></h2>
    <table style="width: 100%;">
        <tr>
          <td><b>Arepita-</b>Small corn cake</td><td>$0.50</td>
          <td><b>Tostones-</b>Fried green plantain</td><td>$3.99</td>
        </tr>
        <tr>
          <td><b>Papa frita-</b>French fries</td><td>$2.50</td>
          <td><b>Papa Criolla-</b>Yellow potato</td><td>$3.50</td>
        </tr>
        <tr>
          <td><b>Yuca frita-</b>Fried yuca(cassava)</td><td>$3.50</td>
          <td><b>Maduros-</b>Fried Sweet Plantain</td><td>$2.50</td>

        </tr>
        <tr>
          <td><b>Ensalada pequeña-</b>Small salad</td><td>$3.50</td>
          <td><b>Ensalada grande-</b>Large salad</td><td>$5.50</td>

        </tr>
        <tr>
          <td><b>Frijoles-</b>Beans</td><td><b>pequeño</b>/small-$2.50</td><td><b>&nbsp;mediano</b>/medium-$5.00</td><td><b>grande</b>/large-$7.00</td>
        </tr>
        <tr>
          <td><b>Arroz-</b>Rice</td><td><b>pequeño</b>/small-$2.50</td><td><b>&nbsp;mediano</b>/medium-$5.00</td><td><b>grande</b>/large-$7.00</td>
        </tr>

    </table>
  </div>
</div>
