<style>
  body{background-image: url(/modules/core/client/img/brand/background.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;}
</style>

<div  style="background-position: center;
  height: 775px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;" >

  <div class="jumbotron " style = "margin: auto;
  width: 750px;
  height: 725px;
  background-color: ##D3D3D3;
  padding-top: 1px;
  text-align: left;
  ">
    <h2 style="font-size:xx-large; text-align: center;"><b>Especiales de Almuerzo/Lunch Specials</b></h2>
    <h3 style="font-size:x-large; text-align: center;"><b>Desde las 11:30am/From11:30am</b> </h3>


    <table style="width: 100%;">

      <tr><td style="font-size:x-large; text-align: center;">Lunes/Monday</td></tr>
      <tr>
        <td ><b>Sopa de tortilla con carne, arroz y ensalada-</b>Colombian style tortilla soup with beef, rice, and salad <br>$6.99</td>
      </tr>

      <tr><td style="font-size:x-large; text-align: center;">Martes/Tuesday</td></tr>
      <tr>
        <td style="text-align: center;"><b>*Cerrado/Closed*</b></td>
      </tr>

      <tr><td style="font-size:x-large; text-align: center;">Miercoles/Wednesday</td></tr>
      <tr>
        <td><b>Sopa de tostones con lomo de cerdo a la plancha-</b>Green plantain soup, grilled pork loin, rice and salad<br>$6.99</td>
      </tr>

      <tr><td style="font-size:x-large; text-align: center;">Jueves/Thursday</td></tr>
      <tr>
        <td><b>Sopa de lentejas con lomo de cerdo a la plancha-</b>Lentil soup with grilled pork loin, rice, and salad<br>$6.99</td>
      </tr>

      <tr><td style="font-size:x-large; text-align: center;">Viernes/Friday</td></tr>
      <tr>
        <td><b>Sopa de fideos, fricasse de pollo, arroz y ensalada-</b>Noodle soup with chicken fricasse, rice and salad<br>$6.99</td>
      </tr>

      <tr><td style="font-size:x-large; text-align: center;">Sabado/Saturday</td></tr>
      <tr>
        <td><b>Sancocho de pescado-</b>Fish vegetable stew<br>Med/Md-$8.99 Grande/Large-$9.99</td>
      </tr>

      <tr><td style="font-size:x-large; text-align: center;">Domingo/Sunday</td></tr>
      <tr>
        <td><b>Sopa de mondongo con arroz y ensalada-</b>Tripe soup with rice and salad<br>Med/Md-$8.99 Grande/Large-$9.99</td>
      </tr>

    </table>
  </div>
</div>

<div  style="background-position: center;
  height: 225px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;" >

  <div class="jumbotron " style = "
  width: 750px;
  height: 200px;
  background-color: ##D3D3D3;
  padding-top: 1px;
  text-align: left;
  ">
    <h2 style="font-size:xx-large; text-align: center;"><b>Sopa/Soups</b></h2>
    <h4 style="font-size: large; text-align: center;"><b>Sancocho de carne disponible toda la semana</b> </h4>
    <h4 style="font-size: large; text-align: center;"><b>Beef vegetable stew available all week</b> </h4>
    <table style="width: 100%;">

      <tr>
        <td><b>Sancocho de carne, arroz, y ensalada-</b>Beef vegetable stew with rice and salad</td><td>Med/Md-$7.99 Grande/Large-$8.99</td>
      </tr>

    </table>
  </div>
</div>

<div  style="background-position: center;
  height: 575px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;" >

  <div class="jumbotron " style = "
  width: 750px;
  height: 525px;
  background-color: ##D3D3D3;
  padding-top: 1px;
  text-align: left;
  ">
    <h2 style="font-size:xx-large; text-align: center;"><b>Bebidas/Drinks</b></h2>
    <table style="width: 100%;">

      <tr>
        <td><b>Jugo natural en agua-</b>Natural juice in water</td><td>$2.75</td>
        <td><b>&nbsp;Ponymalta-</b>Malt based soft drink</td><td>$2.00</td>
      </tr>

      <tr>
        <td><b>Jugo natural en leche-</b>Natural juice in milk</td><td>$3.25</td>
        <td><b>&nbsp;Malta India/Malta Polar-</b>Malt based soft drink</td><td>$2.00</td>
      </tr>

      <tr>
        <td><b>Soda Colombiana litro-</b>Colombiana Liter</td><td>$3.50</td>
        <td><b>&nbsp;Avena Casera-</b>Homemade oatmeal drink</td><td>$3.00</td>
      </tr>

      <tr>
        <td><b>Soda Colombiana-</b>Colombian soda</td><td>$1.75</td>
        <td><b>&nbsp;Limonada de coco-</b>Coconut lemonade</td><td>$3.00</td>
      </tr>

      <tr>
        <td><b>Inca kola can-</b>Peruvian soda</td><td>$1.75</td>
        <td><b>&nbsp;Limonada-</b>Lemonade</td><td>$2.50</td>
      </tr>

      <tr>
        <td><b>Kolita-</b>Venezuelan soda</td><td>$1.75</td>
        <td><b>&nbsp;Chocolate con leche-</b>Hot chocolate with milk</td><td>$3.00</td>
      </tr>

      <tr>
        <td><b>Soda-</b>Jupiña,Cocorico,Champs cola, Iron Beer etc.</td><td>$1.25</td>
        <td><b>&nbsp;Aguapanela con limon-</b>Brown sugar drink</td><td>$2.50</td>
      </tr>

      <tr>
        <td><b>Soda-</b>Coke,Sprite,Pepsi,Dr. Pepper etc.</td><td>$1.25</td>
        <td><b>&nbsp;Café negro-</b>Black Coffee</td><td>$1.25</td>
      </tr>

      <tr>
        <td><b>Jugo de naranja-</b>Orange Juice</td><td>$2.00</td>
        <td><b>&nbsp;Café con leche mediano-</b>Medium Coffee</td><td>$1.75</td>
      </tr>

      <tr>
        <td><b>Jugo de manzana-</b>Apple juice</td><td>$2.00</td>
        <td><b>&nbsp;Café con leche grande-</b>Large Coffee</td><td>$2.50</td>
      </tr>

      <tr>
        <td><b>Jugos Hit(Postobon)-</b>Bottle juice</td><td>$1.75</td>
        <td><b>&nbsp;Café Cubano(colada)-</b>Cuban coffee (colada)</td><td>$1.50</td>
      </tr>

      <tr>
        <td><b>Agua en botella-</b>Bottle Water</td><td>$1.00</td>
        <td><b>&nbsp;Milo frio o caliente-</b>Hot or cold chocolate drink</td><td>$3.00</td>
      </tr>

      <tr>
        <td><b>Perrier Water-</b>Carbonated Water</td><td>$2.25</td>
        <td><b>&nbsp;Jugo Nector(Mango y Guayaba)-</b></td><td>$1.75</td>
      </tr>

    </table>
  </div>
</div>
