<style>
  body{background-image: url(/modules/core/client/img/brand/background.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;}
</style>

<div
  style="

  background-position: center;
  background-attachment: fixed;
  height: 600px;
  width: 100%;
  text-align: center;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;">

        <div class="jumbotron vertical-center"
        style="margin: auto;
        width: 750px;
        height: 450px;
        background-color: ##D3D3D3;
        padding-top: 1px;
        ">
          <h1 >Contact Info</h1><br/>
          <p>
            Restaurant Bella Colombia<br/>
            5835 Memorial Highway, Tampa, Florida 33615<br/>
            (813) 570-8555<br/>
          </p>
          <h2>Hours</h2>
          <p style ="font-size: small;">
            Monday: 9:00AM-7:00PM<br/>
            Tuesday: CLOSED<br/>
            Wednesday: 9:00AM-7:00PM<br/>
            Thursday:  9:00AM-7:00PM<br/>
            Friday:  9:00AM-8:00PM<br/>
            Saturday:  9:00AM-8:00PM<br/>
            Sunday: 9:30AM-6:00PM <br/>
          </p>

        </div>
</div>
